@page "/admin"

<AuthorizeView Roles="Administrator">
    <Authorized >

        <h4><b>Welcome Captain</b></h4>
        <img class="img-fluid" src="https://cdnb.artstation.com/p/assets/images/images/022/996/811/4k/paul-canavan-warriors.jpg?1577648659" />
    </Authorized>
    <NotAuthorized>
        <h4><b>Đăng nhập với quyền admin để xem trang này</b></h4>
    </NotAuthorized>
</AuthorizeView>