@page "/admin"

<AuthorizeView Roles="Administrator">
    <Authorized >

        <h4><b>Welcome to Admin panel</b></h4>
        
    </Authorized>
    <NotAuthorized>
        <h4><b>Đăng nhập với quyền admin để xem trang này</b></h4>
    </NotAuthorized>
</AuthorizeView>