@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
        <h3><b>Logged in as @user.Identity.Name</b></h3>
        <img class="img-fluid" src="https://cdna.artstation.com/p/assets/images/images/001/487/624/large/johan-grenier-ravenguard-web.jpg?1447273896" />
    </Authorized>
    <NotAuthorized>
        <h3><b>Welcome Guest</b></h3>
        <img class="img-fluid" src="https://cdna.artstation.com/p/assets/images/images/028/965/052/4k/filipe-pagliuso-13.jpg?1596045981" />
    </NotAuthorized>
</AuthorizeView>


@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;


    bool IsUserAuthenticated;
    bool IsAdmin;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (user.IsInRole("Administrator"))
            IsAdmin = true;

        if (user.Identity.IsAuthenticated)
            IsUserAuthenticated = true;
    }

}