@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Goodbye, world!</h1>

<AuthorizeView>
    <Authorized>
        <p> Welcome,  @context.User.Identity.Name </p>
        <p style="color:green">User Authenticated</p>
    </Authorized>
    <NotAuthorized>
        <p> Welcome, guest </p>
        <p style="color:red">User Not Authenticated</p>
    </NotAuthorized>
</AuthorizeView>


@code{

    private string isUserAuth { set; get; }

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            isUserAuth = "yes";
        }
        else
        {
            isUserAuth = "no";
        }
    }

}