@page "/team"

<h3>Team Members</h3>

@if (string.IsNullOrWhiteSpace(teamMemberApiMessage))
{
    @if (listTeamMember == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teamMember in listTeamMember)
                {
                    <tr>
                        <td>@teamMember.id</td>
                        <td>@teamMember.name</td>
                        <td>@teamMember.role</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>@teamMemberApiMessage</p>
}



